.custom-scrollbar-menu {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f7f7f7;
  }
  
  .custom-scrollbar-menu::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar-menu::-webkit-scrollbar-track {
    background: #f7f7f7;
  }
  
  .custom-scrollbar-menu::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f7f7f7;
  }
  
  .custom-scrollbar-submenu {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f7f7f7;
  }
  
  .custom-scrollbar-submenu::-webkit-scrollbar {
    width: 5px;
  }
  
  .custom-scrollbar-submenu::-webkit-scrollbar-track {
    background: #f7f7f7;
  }
  
  .custom-scrollbar-submenu::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 1px solid #f7f7f7;
  }
  